.heading {
  font-weight: 600;
  line-height: 110%;
  &.heading-xl {
    font-size: 64px;
  }
  &.heading-l {
    font-size: 48px;
  }
  &.heading-m {
    font-size: 24px;
  }
  &.heading-s {
    font-size: 20px;
  }
}

.body-m {
  font-size: 16px;
  line-height: 150%;
  &.bold {
    font-weight: 600;
  }
}
.body-s {
  font-size: 14px;
}
